*.mod
*.o
?splash
docs/splash.aux
docs/splash.log
docs/splash.toc
docs/splash.out
docs/splash.blg
docs/splash.haux
docs/*.bib
docs/html/*.png
docs/html/*.html
docs/html/splash.css
cairo-*
pixman-*
bin
ref
*otherendian.f90
Portfile*
.DS_Store
releasenotes*
ChangeLog
giza*
tests
